body{
    background-image: url(images/backgroind.jpg);
    background-size:auto;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    border-radius: 12px;
    width: 455px;
    min-height: 300px;
    max-height: 80%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 40px 30px;
    position: relative;
}
.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    margin-bottom: 30px;
}
.input-btn__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}
input{
    width: 320px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius:3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #858784;
    padding-left: 15px;
    box-sizing: border-box;

}
button{
    width: 55px;
    height: 50px;
    background: #8D48F0;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #985bee
}
.list {
    min-width: 420px;
    max-height: 450px;
    margin-bottom: 20px;
    overflow-y:auto;
    overflow-x: hidden;
}
.item {
    width: 396px;
    max-height: none;
    background: #F2F2F2;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4B4B4B;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
    word-break: break-all;
}
.item__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4B4B4B;
    box-sizing: border-box;
    padding: 15px 15px;

}
.delete_icon {
    cursor: pointer;
    opacity:0;
    transition: 0.3s;
}
.item:hover .delete_icon{
    opacity:1;
}
.bttm__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #1A1A1A;
}
.clear__btn {
    width: 95px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #8D48F0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
.clear__btn:hover{
    background-color: #985bee;
}
@media (max-width:480px){
    .block{
        width: 380px;
        padding: 30px 20px;
    }
    .title {
        font-size: 33px;
    }
    .input-btn__wrapper {
    }
    input{
        height: 45px;
        width: 270px;
    }
    button{
        height: 45px;
        width: 50px;
    }
    .list {
        width: 320px;
        max-height:225px;
        margin-bottom: 20px;
    }
    .item{
        width: 320px;
    }
    .bttm__wrapper {
    }
    .info {
        font-size: 19px;
    }
    .clear__btn {
        font-size: 19px;
    }
}